# Ignore system files
.DS_Store
Thumbs.db

# Ignore Docker files
**/docker-compose.override.yml
###**/Dockerfile*

# Ignore dependency directories
node_modules/

# Ignore build artifacts
/dist
/build

# Ignore Home Assistant temporary files
/homeassistant/.homeassistant/addons
